python-dotenv
streamlit
ipykernel
structlog
beautifulsoup4
undetected-chromedriver
selenium
langchain==0.3.27
langchain-astradb==0.6.1
langchain_core==0.3.75
langchain-google-genai==2.1.8
langchain-groq==0.3.6
langchain-mcp-adapters==0.1.10
langchain-openai==0.3.32
